__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

*.sqlite3
db.sqlite3
media/
static/
.env
.env.*
*.log

celerybeat-schedule
celerybeat.pid

.vscode/
.idea/
*.swp

*.bak

.DS_Store
Thumbs.db

.git/